.thumbnail{
    width: 300px;
    display: block;
}
.search-bar{
   display: block;
}
p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-stats, .video-author{
display: block;
color: rgb(96, 96, 96);
font-size: 12px;
}
.video-author{
    margin-bottom: 4px;

}

.video-title{
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}


.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-picture{
    width: 40px;
    border-radius: 50px;
}
.video-info{
    display: inline-block;
    width: 200px; 
}

.thumbnail-row{
    margin-bottom: 13px;
}